:root {
--color-bg: #ffffff;
--color-fg: #191224;
--color-muted: #0d0152d2;
--color-accent: #aa0974;
--color-border: #2a223a;


--font-sans: "Inter", system-ui, sans-serif;
--font-display: "Sora", sans-serif;
--font-cursive:"italic"

--space-1: 1rem;
--space-2: 2.074rem;  
--space-4: 2.488rem;
--space-8: 2.986rem;
}
*,
*::before, 
*::after { 
     box-sizing:border-box;
    }
    body{
        background: var(--color-bg);
        color: var(--color-fg);
        font-family: var(--font-display);
        line-height: 1.6;
        font-size: var(--space-1);
        
    }
    nav>a{
color:var(--color-muted) ;
    }
    p a{
       color: var(--color-border);
    }
    footer{
        color: var(--color-accent);
        font-family: var(--font-cursive)
    }
    h1{
     font-size: var(--space-8);
        font-family: var(--font-sans);
    }
    h2{
        font-size: var(--space-4);
        font-family: var(--font-sans);
    }
    h3{
        font-size: var(--space-2);
        font-family: var(--font-sanss);
    }
    